# Ignore all files starting with a dot
.*

# Allow specific files to be included
!.gitignore
!.env.example

# Ignore build and output directories
dist/
build/
out/

# Ignore temporary files
*.tmp
*.swp
*.bak
*.temp
~$*

# Ignore python cache and compiled files
__pycache__/